@import '../../styles/global.css';

.header {
  font-family: var(--font-family-oswald);
  display: flex;
  width: 100%;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

.title {
  font-size: 3rem;
  letter-spacing: -1.5px;
}

.title_red {
  color: var(--color-font-secondary-red);
}

.header_right {
  display: flex;
  height: 100%;
}

.btn_menu,
.btn_search,
.btn_cart {
  margin: 0 1rem;
}

.icon {
  font-size: 2rem;
}

.menu {
  font-family: var(--font-family-oswald);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  left: -110%;
  background-color: #fff;
  top: var(--header-height);
}

.menu_show {
  left: 0;
}

.menu_item {
  height: 4rem;
  width: 100%;
  padding: 0 2em;
}

.btn_item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 150ms ease-in-out;
}

.btn_item:hover {
  color: var(--color-font-secondary-red);
}

@media (min-width: 768px) {
  .btn_menu {
    display: none;
  }

  .menu {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
  }

  .menu_item {
    flex-basis: 7rem;
    width: 100%;
    height: 100%;
  }

  .btn_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
