@import '../../styles/global.css';

.image_container {
  position: relative;
  min-height: 275px;
  max-height: 1294.92px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.overlay {
  position: absolute;
  background-color: var(--color-overlay);
  width: 100%;
  height: 100%;
  color: var(--color-font-primary-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1em;
}

.desc {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .overlay {
    height: 100%;
  }
}
