@import '../../styles/global.css';

.footer {
  background-image: url('../../footer.jpg');
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3.6rem;
  color: white;
}

.title_red {
  color: var(--color-font-secondary-red);
}
