@import '../../styles/global.css';

.banner {
  background-color: var(--color-mobile-background);
  display: flex;
  height: 50vh;
  padding: 10%;
}

.col_1 {
  flex-basis: 70%;
}

.col_2 {
  flex-basis: 30%;
}

.content {
  padding: 0 5%;
  height: 100%;
}

.title {
  font-family: var(--font-family-oswald);
  line-height: 6rem;
  font-size: 5rem;
  margin: 1rem 0;
}

.sub_title {
  font-size: 1.25rem;
  font-weight: 400;
}

.title_red {
  color: var(--color-font-secondary-red);
}

.desc {
  font-size: 1.25rem;
  line-height: 3rem;
}



@media (min-width: 576px) {
  .banner {
    background-image: url('../../bg1.png'), url('../../bg2.png');
    background-repeat: no-repeat;
    background-size: 60%, 95%;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
